body {
  padding: 30px;
}


input[type="range"] {
  -webkit-appearance: none;
  background-color: #D64928;
  height: 15px;
  margin: 50px;
  border-radius: 5px;
  width: 170px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
}
 
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}

#value {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  padding: 5px;
  background: #474747;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: helvetica, arial;
  font-weight: bold;
  top: 35px;
  left: 190px;
}

#value:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 15px;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #474747 transparent;
  display: block;
  width: 0;
  z-index: 1;
}