body {
  background: #f8f8f8;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 10px 0 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}

.clear {
  clear: both;
}

.progress_bar {
  max-width: 2000px;
  width: 80%;
  margin: 10px auto 50px;
  position: relative;
  height: 50px;
  z-index: 10;
}
/*.progress_bar hr.all_steps {
  width: 50%;
  height: 7px;
  border: none;
  background: #DDDDDD;
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: 10px;
  left: 10%;
  z-index: 1;
}*/
/*.progress_bar hr.current_steps {
  width: 30%;
  border: 0;
  height: 5px;
  background: #ea463d;
  position: absolute;
  bottom: 12px;
  left: 10%;
  z-index: 3;
}*/
.progress_bar div.step {
  float: left;
  width: 10%;
  height: 50px;
  text-align: center;
  font-size: 12px;
  color: #ccc;
  position: relative;
  text-shadow: 1px 1px #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.progress_bar div.step:before {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 2px solid transparent;
  background: #ea463d;
  bottom: 14px;
  left: 50%;
  margin-left: -6px;
  content: '';
  z-index: 4;
  display: none;
}
.progress_bar div.step:after {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  border: 2px solid #DDDDDD;
  background: #DDDDDD;
  bottom: 12px;
  left: 50%;
  margin-left: -8px;
  content: '';
  z-index: 2;
}
.progress_bar div.step.current {
  color: #222;
}
.progress_bar div.step.current:before {
  display: block;
}
.progress_bar div.step.complete {
  color: #888;
  cursor: pointer;
}
.progress_bar div.step.complete:before {
  display: block;
}
.progress_bar div.step.complete:hover {
  color: #555;
}

#blocks {
  width: 100%;
  position: relative;
  height: 200px;
}
#blocks .block {
  position: absolute;
  width: 100%;
  left: 100%;
  height: 200px;
}
#blocks .block .wrap {
  width: 80%;
  margin: 0 auto;
}

/* CSS BUTTON By http://codepen.io/daneden/pen/rcFJE*/
.butt {
  /* Additions */
  cursor: pointer;
  margin-right: 5px;
  /* End Additions */
  font-size: .825em;
  text-decoration: none;
  font-weight: 700;
  padding: .35em 1em;
  background-color: #eaeef1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(255, 255, 255, 0.7);
}

.butt:hover, .butt.hover {
  background-color: #fff;
}

.butt:active, .butt.active {
  background-color: #d0d3d6;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.2);
}
