.row-fluid { display: inline-block; width: 50%; float: left; }
.row-fluid [class*="span"] { float: none; margin-left: 0; }


body {
   background:#A8ACAF !important;
}

.circle
{
width:50px;
height:50px;
border-radius:25px;
font-size:25px;
color:#A8ACAF;
line-height:50px;
text-align:center;
background:#ffffff
}

#headerContainer
{
  margin-top:10px;
  margin-left:5px;
}

#headerFont
{
  font-size:30px;
  color:#ffffff;
  font-family: 'nobile';
}

#paragraphSection
{
  margin-top:40px;
  margin-left:20px;
  font-size:22px;
  font-family:'nobile';
  color:#ffffff;
}

#markingSlideShow
{
  margin-top:15px;
}
